<%= stylesheet_link_tag "diary1", :media => "all" %>
<body>
    <div class="picture1">
        <img src="/message1.png">
    </div>
    <div class="picture2">
        <img src="/char.PNG">
    </div>
    <div class="picture3">
        <a href="diary_sun.html"><img src="/sun.png"></a>
        <a href="diary_cloudy.html"><img src="/cloudy.png"></a>
        <a href="diary_rainny.html"><img src="/rainny.png"></a>
        <a href="diary_snow.html"><img src="/snow.png"></a>
    </div>

    <a href="../app/main/index.html" class="back-button">戻る</a>
</body>