<%= stylesheet_link_tag "diary_snow", :media => "all" %>

<body>
    <div class="picture1">
        <img src="/message_snow.png">
    </div>
    <div class="picture2">
        <a href="snow_heart.html"><img src="/char.PNG"></a>
    </div>

    <a href="../app/main/index.html" class="back-button">戻る</a>
    
</body>