<%= stylesheet_link_tag "write", :media => "all" %>
<div class="main posts-new">

  <div class="container">
    <h1 class="form-heading">日記を書いてね</h1>
    <!-- form_tagメソッドを用いて、データの送信先を指定してください -->
    <%= form_tag("/home/create") do %>
      <div class="form">
        <div class="form-body">
          <textarea name = "content" class="c-form-textarea"></textarea>
          <input type="submit" value="投稿">
        </div>
      </div>
    <!-- end を追加してください -->
    <%end%>
  </div>
</div>
