<%= stylesheet_link_tag "snow_heart", :media => "all" %>

<body>
    <div class="serifu">
        <div class="comment"><p class="comment-no-nakami">今日の気分は？</p></div>
        <div><img src="/fukidashi.png" class="fukidashi"></div>
    </div>
    <div class="icons">
        <div class="pi">
            <img src="/pi.png">
        </div>
        <div class="picture3">
            <a href="../day/日記本体/diary2.html"><img src="/nikkori.png"></a>
            <a href="../day/日記本体/diary2.html"><img src="/okori.png"></a>
            <a href="../day/日記本体/diary2.html"><img src="/naki.png"></a>
            <a href="../day/日記本体/diary2.html"><img src="/gakkari.png"></a>
        </div>
    </div>

    <a href="../app/main/index.html" class="back-button">戻る</a>
</body>